* {
  margin: 0;
  padding: 0;
  background-color: #F1FAEE;
}

header {
  text-align: center;
}

.nav-bar {
  list-style-type: none;
  text-align: center;
}

.nav-bar li {
  display: inline;
  margin-right: 10px;
}

.articles__list {
  border: 2px solid #E63946;
  margin: 10px;
  list-style: none;
  text-align: center;
}

.single-article {
  border: 2px solid #E63946;
  text-align: center;
}
.comment {
  border: 2px solid #a8dadc;
  margin: auto;
  margin-top: 10px;
  max-width: 50%;
  list-style: none;
}
.add-comment {
  border: 2px solid #1d3557;
  margin: auto;
  width: 250px
}