* {
  margin: 0;
  padding: 0;
  background-color: #F1FAEE;
}

.header {
  text-align: center;
}

.nav-bar {
  list-style-type: none;
}

.nav-bar li {
  display: inline;
}

.articles__list {
  border: 2px solid #E63946;
  margin: 10px;
  list-style: none;
  text-align: center;
}
