* {
  margin: 0;
  padding: 0;
  background-color: #F1FAEE;
}

header {
  text-align: center;
  color: #1d3557;
}

.nav-bar {
  list-style-type: none;
  text-align: center;
  margin-bottom: 50px;
}

.nav-bar li {
  display: inline;
  margin-right: 10px;
}

.nav-bar-link {
  display: inline;
  margin-right: 10px;
}

.sort-bar {
  display: inline;
  width: 150px;
}

.sort-bar button {
  border: 2px solid #A8DADC;
  width: 150px;
}

.articles__list {
  border: 2px solid #E63946;
  margin: 10px;
  list-style: none;
  text-align: center;
}

.single-article {
  border: 2px solid #E63946;
  text-align: center;
}
.comment {
  border: 2px solid #a8dadc;
  margin: auto;
  margin-top: 10px;
  max-width: 50%;
  list-style: none;
}
.add-comment {
  border: 2px solid #1d3557;
  margin: auto;
  width: 250px
}

.log-in {
  border: 2px solid #1d3557;
  margin: auto;
  padding: 10px;
  width: 150px;
  min-height: 50px;
}

.log-in select{
  border: 2px solid #1d3557;
  margin: auto;
  width: 150px
}

.logged-in-user {
  border: 2px solid #a8dadc;
  width: 250px;
  display: inline-block;
  
} 